%h1 Register
= simple_form_for @user do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  .form-actions
    = f.submit 'register', class: 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn'
